@charset "utf-8";

@import url('//fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('//fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('//fonts.googleapis.com/css2?family=Mitr&display=swap');
@import url('//fonts.googleapis.com/css?family=Sigmar+One');

/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
input,
button,
select,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
para,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

img {
  vertical-align: middle;
}

.font_oleo {
  font-family: 'Oleo Script Swash Caps', cursive !important;
}

.font_mitr {
  font-family: 'Mitr', sans-serif;
}

.sr_only {
  position: absolute !important;
  clip: rect(0, 0, 0, 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
  width: 100%;
  min-width: 320px;
  background: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: normal;
  color: #222;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  word-break: break-all;
  -webkit-text-size-adjust: none;
}

.login,
.play,
.room {
  position: relative;
  z-index: 1;
}

@media (max-width: 750px) {
  body {
    font-size: 15px;
  }

  *::-webkit-scrollbar {
    width: 3px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #cbcbcb;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #cbcbcb auto; /* 파이어폭스 Thumb 와 Track */
  }
}
